.full
{
    width: 97% !important;
    float: left;
    margin-right: 3% !important;
}
.half
{
    width: 47% !important;
    margin-right: 3% !important;
    float: left;
}
.fme_additional_checkout_field
{
	width: 100%;
}
#ui-datepicker-div
{
	font-size: 12px !important;
}
.fme_radio
{
	float:left;
	margin: 8px 13px !important;
}
.fme_checkbox
{
	float: left;
	margin: 8px -16px !important;
}
.overlay-layer-wrap
{
	background: none !important;
}

.w3-progressbar{
        background-color:#757575;
        height:100%;
        position:absolute;
        line-height:inherit
}
.w3-progress-container{
        width:100%;
        height:1.5em;
        position:relative;
        background-color:#f1f1f1
}
.w3-green,.w3-hover-green:hover{
        color:#fff!important;
        background-color:#4CAF50!important
}


.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background: red;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}
